@tailwind base;
@tailwind components;
@tailwind utilities;

@Layer base{
    @font-face {
        font-family: "titlefont";
        font-weight: 300;
        src: url("/fonts/KodeMono-Regular.ttf") format("truetype");
        font-display: swap;
    }
}